#program{
    --vertical-space:10px;
    background-color:white;
    overflow-y:scroll;
    width:500px;
    padding-top:var(--vertical-space);
    padding-bottom:var(--vertical-space);
     
}
#program>li{
    background-color:pink;
    border-radius:2px;
    border:1px solid limegreen;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:20px;
}
editability-box:uneditable{
    text-decoration: line-through;
    background-color:black;
}

#add-instruction{
    background-color:yellow;
}
#output{
    background-color:white;
    width:700px;
    height:500px;
    overflow-y:scroll;
}
