#program{
    --vertical-space:10px;
    background-color:white;
    overflow-y:scroll;
    width:500px;
    padding-top:var(--vertical-space);
    padding-bottom:var(--vertical-space);
     
}
#program>li{
    background-color:pink;
    border-radius:2px;
}
.center{
    margin-left:auto;
    margin-right:auto;

}