.background-color-option{
    --size:100px;
    width:var(--size);
    height:var(--size);
    display:block;
    border: 1px solid black;

}
.default-background{
    background-color:lightblue;
    border:1px solid black;/*To separate from the general background*/
}
.menu-bar{
     
     width:100%;
      
     
} 
.menu-item{
    border:2px solid white;
    background-color:aquamarine;
}
#color-submit{
    background-color:yellow;
}